[Desktop Entry]
Name=icets
Comment=Utility for changing IceWM's themes
Comment[pl]=Narzędzie do zmieniania motywów graficznych IceWM-a
Icon=icets
Exec=icets
Terminal=false
Type=Application
Categories=Settings;
# vi: encoding=utf-8
