[Desktop Entry]
Name=icets
Comment=Utility for changing IceWM's themes
Comment[pl]=Narzêie do zmieniania tematóraficznych IceWM'a
Icon=icets.png
Exec=icets
Terminal=0
Type=Application
# vi: encoding=utf-8
